<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

 <servlet>
 <servlet-name>Products</servlet-name>
 <servlet-class>com.example.products</servlet-class>
 </servlet>

 <servlet-mapping>
 <servlet-name>Products</servlet-name>
 <url-pattern>/FindProduct.do</url-pattern>
 </servlet-mapping>

</web-app>
